#btn-0{
    background: transparent;
    border: none !important;
	color: #999;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}
#btn-1{
    background: transparent;
    border: none !important;
	color: #999;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#btn-2{
    background: transparent;
    border: none !important;
	color: #999;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#btn-3{
    background: transparent;
    border: none !important;
	color: #999;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}
#btn-4{
    background: transparent;
    border: none !important;
	color: #999;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}
#btn-5{
    background: transparent;
    border: none !important;
	color: #999;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}
#btn-6{
    background: transparent;
    border: none !important;
	color: #999;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}
#btn-7{
    background: transparent;
    border: none !important;
	color: #999;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}
#btn-8{
    background: transparent;
    border: none !important;
	color: #999;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}
#btn-9{
    background: transparent;
    border: none !important;
	color: #999;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}
#btn-10{
    background: transparent;
    border: none !important;
	color: #999;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}
#btn-11{
    background: transparent;
    border: none !important;
	color: #999;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#btn-12{
    background: transparent;
    border: none !important;
	color: #999;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#btn-13{
    background: transparent;
    border: none !important;
	color: #999;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#btn-14{
    background: transparent;
    border: none !important;
	color: #999;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#btn-15{
    background: transparent;
    border: none !important;
	color: #999;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#btn-16{
    background: transparent;
    border: none !important;
	color: #999;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}
